<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:pd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>弹幕首页</title>
    <script type="text/javascript" src="https://cdn.goeasy.io/goeasy.js"></script>
    <link rel="stylesheet" type="text/css" href="css/danmu.css">
</head>
<body>
<!-- 主屏幕 -->
<div class="screen">
    <!-- 播放器 -->
    <div id="a1" class="player"></div>
    <div class="inputArea">
        <div class="inputAndButton">
            <input type="text" class="inputText"/><input type="submit" class="textSubmit" value="发表"/>
        </div>
    </div>
</div>
<div class="start_screen" >打开弹幕</div>
<div class="end_screen">关闭弹幕</div>
<div class="back">返回导航</div>
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/allFunction.js"></script>
<script type="text/javascript" src="ckplayer/ckplayer.js"></script>
<script type="text/javascript" src="js/ckplayer_init.js" ></script>
<script type="text/javascript" src="js/goeasy.js"> </script>
<script type="text/javascript" src="js/input_jq.js"> </script>

</body>
</html>